import os

class Config:
    # URL da planilha do Google Sheets
    PLANILHA_URL = 'https://docs.google.com/spreadsheets/d/SEU_ID_DA_PLANILHA/edit'
    
    # Configurações de cache (em segundos)
    CACHE_TIMEOUT = 300  # 5 minutos
    
    # Configurações do Flask
    SECRET_KEY = 'sua-chave-secreta-aqui'
    DEBUG = True